{% load static %}

<footer>
    <div class="footerCol">
      <div class="container">
        <ul class="socialCol">
          <li><a href="https://ne-np.facebook.com/tanuja.bastola.5?comment_id=Y29tbWVudDo4MDQwMTYyMzMxMzYzMjRfMTI3MzUyMTk4Mjg1MjQxMQ%3D%3D"><img src="{% static 'images/facebook.png' %}" alt="..."></a></li>
          <li><a href="https://www.instagram.com/tanujabastola4/"><img src="{% static 'images/instagram.png' %}" alt="..."></a></li>
          <li><a href="https://www.twitter.com/BastolaTanuja"><img src="{% static 'images/twitter.png' %}" alt="..."></a></li>
          <li><a href=""><img src="{% static 'images/linkedin.png' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
          <p>Copyright © {% now 'Y' %} All rights reserved. Designed by <a href="https://www.instagram.com/tanujabastola4" target="_blank">Tanuja</a></p>
        </div>
      </div>
    </div>
  </footer>